<!-- views/cart.handlebars -->
<h1>Carrito de Compras</h1>
<ul>
    {{#each cart.products}}
    <li>
        <h2>{{this.product.title}}</h2>
        <p>Precio: ${{this.product.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
        <button onclick="removeFromCart('{{this.product._id}}')">Eliminar</button>
    </li>
    {{/each}}
</ul>

<script>
    function removeFromCart(productId) {
        fetch(`/carts/remove/${productId}`, { method: 'POST' })
        .then(response => response.json())
        .then(data => alert(data.message));
    }
</script>
